@model E_NompiloPhc.Models.GBV.CheckUp

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Layouts/_GBVLayout.cshtml";
}

<p>
    <div class="text-light"><strong>PATIENT CHECK-UP FORM</strong></div>

</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="PatientLastName" class="control-label"></label>
                <input asp-for="PatientLastName" class="form-control" />
                <span asp-validation-for="PatientLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientFirstName" class="control-label"></label>
                <input asp-for="PatientFirstName" class="form-control" />
                <span asp-validation-for="PatientFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BodyTemperature" class="control-label"></label>
                <input asp-for="BodyTemperature" class="form-control" />
                <span asp-validation-for="BodyTemperature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OxygenLevel" class="control-label"></label>
                <input asp-for="OxygenLevel" class="form-control" />
                <span asp-validation-for="OxygenLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PulseRate" class="control-label"></label>
                <input asp-for="PulseRate" class="form-control" />
                <span asp-validation-for="PulseRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BloodPressure" class="control-label"></label>
                <input asp-for="BloodPressure" class="form-control" />
                <span asp-validation-for="BloodPressure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diagnosis" class="control-label"></label>
                <input asp-for="Diagnosis" class="form-control" />
                <span asp-validation-for="Diagnosis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Therapy" class="control-label"></label>
                <input asp-for="Therapy" class="form-control" />
                <span asp-validation-for="Therapy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssignedMedication" class="control-label"></label>
                <input asp-for="AssignedMedication" class="form-control" />
                <span asp-validation-for="AssignedMedication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckUpNurse" class="control-label"></label>
                <input asp-for="CheckUpNurse" class="form-control" />
                <span asp-validation-for="CheckUpNurse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssignedDoctor" class="control-label"></label>
                <input asp-for="AssignedDoctor" class="form-control" />
                <span asp-validation-for="AssignedDoctor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>

</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}