@{
    ViewData["Title"] = "Index";
}

<h3>
    <strong>
        About Gender-Based Violence, e-Empilo Primary Health Centre
    </strong>
</h3>
<body>
    Gender-based violence (GBV) Sub-System Helps victims of GBV related cases to reach out for professional help in this digital world.The whole e-mpilo primary health care consists of free Healthcare service/Rehabilitation such as GBV, FAMILY PLANNING, NUTRITION and REFERRAL for rural communities & who can't afford medications.
    Gender-based violence (GBV) is a term used to describe any form of violence that is directed at an individual based on their biological sex or gender identity 1. It is a human rights violation and a major obstacle to achieving gender equality, as well as an obstacle to a country’s development 1. GBV can
    occur publicly or privately and includes verbal, physical, sexual, and psychological abuse, as well as threats, coercion, and deprivation 1.South Africa has one of the highest rates of gender-based violence in the world, 2. GBV is a systemic problem in South Africa that impacts almost every aspect of life
    2.It is deeply entrenched in institutions, cultures, and traditions in South Africa 2. GBV disproportionately affects women and girls, but it can also affect people of all genders who are seen as not conforming to their assigned gender roles 23.The South African government has taken several steps to combat
    GBV. The National Strategic Plan on Gender-Based Violence campaign was formed by civil society organizations across the country.They demanded a fully-costed, evidence-based, multi-sectoral, inclusive and comprehensive NSP to end GBV. The 5 key interventions of the South African National on Gender Based Violence
    and Femicide are:

    <ul>
        <li>
            Urgently respond to victims and survivors of GBV

        </li>
        <li>
            Broadening access to justice for survivors
        </li>
        <li>
            Changing social norms and behavior through high-level awareness raising and prevention campaigns
        </li>
        <li>
            Strengthening the criminal justice system
        </li>
        <li>
            Improving the economic power of women and marginalized groups 1
        </li>
    </ul>

</body>